* {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: 000000;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
